<table class="field-list">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Constraint</th>
        </tr>
    </thead>
    <tbody>
        {# List attributes #}
        {% for attr in attributes %}
        <tr>
            <td>
                {# Primary key #}
                {% if attr.pk %}
                    <em>PK </em>
                {% endif %}

                {# Foreign key #}
                {% if attr.fk %}
                    <em>FK </em>
                {% endif%}

                {# Foreign key #}
                {% if attr.cpk %}
                    <em>CPK </em>
                {% endif%}

                {# Unique #}
                {% if attr.unique %}
                    <em>U </em>
                {% endif %}

                {# Column name #}
                {{ attr.name }}
            </td>
            <td>{{ attr.type }}</td>
            <td><em>{{ attr.constraint }}</em></td>
        </tr>
        {% endfor %}
    </tbody>
</table>