{# this template is used for internal API descriptions #}
<dl>
    <dt id="{{ name }}">
        <code class="descname">{{ name }}</code>
        <a class="headerlink" href="#{{ name }}" title="Permalink to this definition"></a>
    </dt>
    <dd>
        {# Name and description #}
        {% if long_name is defined %}
        <p><strong>{{ long_name }}</strong></p>
        {% endif %}
        <p>{{ desc }}</p>

        {# Parameters #}
        {% if parameters is defined %}
        <table class="field-list">
            <colgroup>
                <col class="field-name"/>
                <col class="field-body"/>
            </colgroup>
            <tbody valign="top">
                <tr class="field">
                    <th class="field-name">Parameters:</th>
                    <td class="field-body">
                        <ul class="first simple">
                            {% for param in parameters %}
                                <li><strong>{{ param.name }}</strong> - {{ param.desc }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {# Return values #}
        {% if returns is defined %}
        <table class="field-list">
            <colgroup>
                <col class="field-name"/>
                <col class="field-body"/>
            </colgroup>
            <tbody valign="top">
                <tr class="field">
                    <th class="field-name">Returns:</th>
                    <td class="field-body">
                        <ul class="first simple">
                            {% for ret in returns %}
                                <li><code>{{ ret.val }}</code> - {{ ret.when }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {# Example #}
        {% if example is defined %}
        <p><strong>Example:</strong></p>
        <pre><code class="hljs python">{{ example }}</code></pre>
        {% endif %}
    </dd>
</dl>